<% if flash[:error] %>
	<div class="error">
		<p>
			<% if flash[:error] == "notAuser" %>

				<% if params['request'] %>
					<span class="good"><%= t "invite_sucsessful", :name => @user.name %></span>
				<% else %>
					<%= t "notLoggedIn", :name => @user.name %><br />
					<a href="https://www.facebook.com/dialog/apprequests?app_id=<%= ENV['FACEBOOK_APP_ID'] %>&message=Ich möchte mir deine Musik anhören!&to=<%= @user.uid %>&redirect_uri=http://fb-mukke.herokuapp.com/<%= @user.uid %>/<%= @user.name %>"><%= t "invite_now", :name => @user.name %> </a>
				<% end %>

			<% elsif flash[:error] == "oAuthExpired" %>
				erinnern
			<% end %>
		</p>
	</div>
<% end %>
<% @songs.each do |song| %>
	<div class="player from_<%= song['source'] %>">
		<a class="trigger" name="<%= song['source'] %>" href="<%= song['identifier'] %>">
			<div class="artwork" style="background-image: url('<%= song['image'] %>;')">
				<p class="show play">play</p>
				<p class="pause">pause</p>
			</div>
			<h2 class="name"><%= song['name'] %></h2>
		</a>
		<a class="sourceLink" href="<%= song['url'] %>" target="_blank"><img src="<%=asset_path song['source']+'_logo.png' %>"></a>
		<div class="seekBar">
			<div class="waiting"></div>
			<div class="bufferd"></div>
			<div class="played"></div>
			<div class="mask"></div>
		</div>
	</div>
<% end %>